@model UIToolTrealet.Models.Video

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Video</h1>

<h3>Bạn có chắc chắn xóa Video không?</h3>
<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            TIÊU ĐỀ VIDEO
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            ĐỊA CHỈ VIDEO
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            LOẠI VIDEO
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VideoId" />
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ItemId">Trở về</a>
    </form>
</div>
