@model UIToolTrealet.Models.Image

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa ảnh</h1>

<h3>Bạn có chắc chắn muốn xóa ảnh không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            LINK ẢNH
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ImageId" />
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ItemId">Trở về</a>
    </form>
</div>
