@model UIToolTrealet.Models.Interaction

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo câu hỏi mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">CÂU HỎI</label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">TRẢ LỜI A</label>
                <input asp-for="AnswerA" class="form-control" />
                <span asp-validation-for="AnswerA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">TRẢ LỜI B</label>
                <input asp-for="AnswerB" class="form-control" />
                <span asp-validation-for="AnswerB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">TRẢ LỜI C</label>
                <input asp-for="AnswerC" class="form-control" />
                <span asp-validation-for="AnswerC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TRẢ LỜI D</label>
                <input asp-for="AnswerD" class="form-control" />
                <span asp-validation-for="AnswerD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">ĐÁP ÁN ĐÚNG</label>
                <input asp-for="TrueAnswer" class="form-control" />
                <span asp-validation-for="TrueAnswer" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ItemId" class="form-control" />

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.ItemId">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
