@model UIToolTrealet.Models.Info

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết thông tin</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            TỪ KHÓA
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt class="col-sm-2">
            NỘI DUNG
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InfoId">Sửa</a> |
    <a asp-action="Index" asp-route-id="@Model.ItemId">Trở về</a>
</div>
