@model UIToolTrealet.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa đồ vật</h1>

<h3>Bạn có chắc chắn xóa đồ vật không?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            TIÊU ĐỀ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            MÔ TẢ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class = "col-sm-2">
            ĐỊA CHỈ ẢNH
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleImage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemId" />
        <input type="hidden" asp-for="PageId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index"  asp-route-id="@Model.PageId">Trở về</a>
    </form>
</div>
